<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog>
		<targets>
			<target name="errorFile" d4p1:type="AsyncWrapper" queueLimit="50" overflowAction="Grow" xmlns:d4p1="http://www.w3.org/2001/XMLSchema-instance">
				<target name="ef" d4p1:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="c:\Temp\Error.log"
					archiveFileName="c:\Temp\Error.{#}.log" archiveAboveSize="2000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd"
					keepFileOpen="true" openFileCacheTimeout="30"/>
			</target>
			<target name="errorFile" d4p1:type="AsyncWrapper" queueLimit="50" overflowAction="Grow" xmlns:d4p1="http://www.w3.org/2001/XMLSchema-instance">
			</target>
			<target name="infoFile" d4p1:type="AsyncWrapper" queueLimit="100" overflowAction="Grow" xmlns:d4p1="http://www.w3.org/2001/XMLSchema-instance">
				<target name="if" d4p1:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="c:\Temp\Info.log"
					archiveFileName="c:\Temp\Info.{#}.log" archiveAboveSize="2000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd"
					keepFileOpen="true" openFileCacheTimeout="30"/>
			</target>
			<target name="infoFile" d4p1:type="AsyncWrapper" queueLimit="100" overflowAction="Grow" xmlns:d4p1="http://www.w3.org/2001/XMLSchema-instance">
			</target>
			<target name="debugFile" d4p1:type="AsyncWrapper" queueLimit="1000" overflowAction="Grow" xmlns:d4p1="http://www.w3.org/2001/XMLSchema-instance">
				<target name="df" d4p1:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="c:\Temp\Debug.log"
					archiveFileName="c:\Temp\Debug.{#}.log" archiveAboveSize="2000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd"
					keepFileOpen="true" openFileCacheTimeout="30"/>
			</target>
			<target name="debugFile" d4p1:type="AsyncWrapper" queueLimit="1000" overflowAction="Grow" xmlns:d4p1="http://www.w3.org/2001/XMLSchema-instance">
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Warn" writeTo="errorFile" enabled="true"/>
			<logger name="*" level="Info" writeTo="infoFile" enabled="true"/>
			<logger name="*" level="Debug" writeTo="debugFile" enabled="false"/>
		</rules>
	</nlog>
</configuration>