<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt.Core" version="1.9.7" targetFramework="net45" />
  <package id="NLog" version="4.4.1" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net45" />
  <package id="Psns.Common.Build.GithubTemplate" version="1.0.0.6" targetFramework="net452" />
  <package id="Psns.Common.Logging" version="2.0.0.2" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
</packages>