<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Foq" version="1.7.3" targetFramework="net45" />
  <package id="Fs30Unit.MsTest" version="3.0.0" targetFramework="net45" />
  <package id="FSharp.Core" version="4.3.2" targetFramework="net45" />
  <package id="LanguageExt.Core" version="1.9.7" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>